
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.navbar {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #f5f5f5f5;
    justify-content: space-between; 
}

.navbar1, .navbar2, .navbar3, .navbar4 {
    flex-grow: 1; 
    flex-basis: 0; 
    display: flex;
    text-align: center;
    align-items: center;
}

.navbar1{
    justify-content: flex-end; 
}
.navbar2{
    
    justify-content: flex-start; 

}
.navbar3 {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.navbar4{
    justify-content: center; 
}
.logo {
    width: 200px;
    height: 100px;
    
}
.categories {
    height: 40px;
    margin: 2%;
    display: flex; 
    align-items: center; 
    background-color: transparent; 
    border: solid 1px black;
    border-radius: 5%; 
    cursor: pointer; 
}
.categoriesTex {
    margin: 3%; 
    size: 10px;
    font-family: "Poppins", sans-serif; 
    font-style: normal; 
    color: black; 
}

.search_form {
    display: flex;
    align-items: center;
}

.search_box {
    border: none;
    border-radius: 5px 0 0 5px;
    width: 150px;
    height: 40px;
}

.search_button {
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 0 5px 5px 0;
    background-color: #0db2d7;
    color: #fff;
}
.contact_button {
    display: flex;
    align-items: center;
    background-color: white;
    border: solid 1px #0db2d7;
    border-radius: 20px; 
    padding: 10px 20px; 
    cursor: pointer;
}

.contact_button h4 {
    margin-left: 10px; 
}

.navbarOpen {
    background-color: #f5f5f5f5; /* Color de fondo con transparencia */
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Asegura que esté por encima de otros elementos */
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: white;
    font-size: 24px;
}

.logo2 {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}